body {
    margin: 0;
    padding: 0;
    display: block;
    background-color: slategrey;
}

.boxShawdow{
    position: relative;
    z-index: 2;
    margin: 25px auto;
    height: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 20px black;
    overflow: auto;
    display: inline-block;
    width: 80%;
    transition: all 1s ease;
    -webkit-filter: opacity(85%);
    filter: opacity(85%);
}

.boxShawdow:hover {
    -webkit-filter: opacity(100%);
    filter(opacity(100%));
}
.section {
    margin: 30px 60px;
    display: flex;
    justify-content: space-around;
    width: 1172px;
}

.sectionLeft {
    width: 20%;
    height:420px;
}
.sectionRight {
    width: 60%;
    height:420px;
    float: right;
}

.profilePic {
    width: 100%;
}
#name {
    font-family: "Comic Sans MS";
    font-size: 32px;
    text-align: center;
    margin: 18px 0 20px;
}
.contactDetails ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 20px;

}
.iconContactDetail {
    max-width: 100%;
    padding-right: 5px;
    vertical-align: middle;
}

#reachMe{
    display: flex;
    margin: 30px 10px 0;
    justify-content: space-around;
}

.contact {
    font-family: "Comic Sans MS";
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.title{
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 32px;
}

#aboutme_content{
    font-size: 24px;
    margin: 10px 20px 10px;
    font-family: "Comic Sans MS";

}

.contactLink{
    text-decoration: none;
}
/*
@media and screen and (max-width:750px) {
    .contentWrapper {
        width:100% !important;
        display: block;
    }
}
*/


img.menuIcon {
    height: 3.5%;
    width: 3.5%;
}
img.projectPic {
    display: block;
    margin: auto;
}
h3.projectTitle {
    text-align: center;
}
img.homescreenPic {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}
.contentWrapper {
    position: relative;
    z-index: 2;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 20px black;
    overflow: auto;
    display: inline-block;
    width: 80%;
    margin: 3% 5%;
    transition: all 1s ease;
    -webkit-filter: opacity(80%);
    filter: opacity(80%);
}
.contentWrapper:hover {
    -webkit-filter: opacity(100%);
    filter(opacity(100%));
}
#myPicWrapper {
    width: 200px;
    margin: 50px auto;
    width: 20%;
    margin: 3% 5%;
    align-items: stretch;
}
#languageWrapper {
    float: left;
    display: inline-block;
    width: 60%;
    margin: 2% 5%;
}
#workExperience {
    width: 60%;
}
#frameworksWrapper {
    float: left;
    display: inline-block;
    width: 60%;
    margin: 2% 5%;
    align-items: stretch;
}
#specialtiesWrapper {
    float: right;
    display: inline-block;
    width: 20%;
    margin: 2% 5%;
}
ul li {
    margin-top: 15px;
}

ul.specialties {
    margin-left: 0px;
    margin-right: 10px;
    list-style-type: none;
}
ul.frameworks {
    margin-left: 55px;
}
.contentTitle {
    text-align: center;
    margin-bottom: 35px;
}
.personalPic {
    /*border-radius: 100%;*/

    max-width: 100%;
    height: auto;
    margin: 6% 0%;
}
.contactTitle {
    font-size: 18px;
    margin-top: 20px;
}
.contactInfo {
    font-size: 14px;
    margin-top: 10px;
}
#jobTitle {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
}
.pageWrap {
    position: relative;
    z-index: 2;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 20px black;
}
/*.bg:hover{
  -webkit-filter:opacity(100%);
  filter(opacity(100%));
}*/

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */

    img.bg {
        left: 50%;
        margin-left: -512px;
        /* 50% */
    }
}
.skillsList {
    float: left;
}
p.workExperienceJob {
    font-size: 32px !important;
}
#x {
    font-size: 32px;
}

#head {
    font-family: monospace;
    color: #fff;
    margin: auto;
    padding: 35px;
    font-size: 40px;
    text-align: center;
}
#bar {
    text-align: center;
    width: 750px;
    height: 25px;
    background-color: #DAD9D9;
    margin: 0 auto;
    font-family: monospace;
    padding: auto;
    float: none;
    /*border-radius: 5px;*/
}
#red {
    background-color: #E94B35;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -47%;
    bottom: -20%;
    position:relative;
}
#yellow {
    background-color: #f0f000;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -44%;
    bottom: 40%;
    position:relative;
    display: block;
}
#green {
    background-color: #1AAF5C;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -41%;
    bottom: 99%;
    position:relative;
    display: block;
}
#screen {
    background-color: #000000;
    width: 750px;
    height: 450px;
    /*border-radius: 2%;*/
    margin: 0 auto;
    padding: 1px;
}
.font {
    color: #0f0;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    position: static;
}