.header .profile_picture{
    width: 150px;
}

.web_terminal{
    /*background-color: #004354;*/
    width: 100%;
    height: 400px;
    color: silver;
    font-family: Monaco, 'Lato', arial, sans-serif;
}

.present_command{
    resize: none;
    /*opacity: 0;*/
}

.prompt{
    font-weight: bold;
}