body{
    /*background-color: silver;*/
    background-image: url(../images/ep_naturalblack.png);
    margin: 0;
    /*font-family: 'Avenir LT Std', 'Lato', sans-serif;*/
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: silver;
    overflow-x: hidden;
    padding: 0;
}
/*h1,h3{*/
    /*text-transform: uppercase;*/
/*}*/
.wrapper{
    display: block;
    width: 100%;
    overflow: hidden;
     position: absolute;
    top: 50%;
     margin: -270.5px auto 0 auto;
}
.no-display{
    display: none;
}
.center-text{
    text-align: center;
}
.profile-card{
    background-color: #1f6341;
    height: auto;
}
/*.profile-tabs{*/
    /*border: double;*/
    /*background-color: #761c19;*/
    /*height: 100px;*/
/*}*/
.profile-card-image{
    /*height: 190px;*/
    /*background-color: silver;*/
    text-align: center;

}
.picture-holder{
    height: 140px;
    margin-top: 50px;
    /*margin-bottom: 40px;*/
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid #8ec0b1;
}
.profile-card-details {
    /*height: 100px;*/
    /*background-color: #1AAF5C;*/
}
.image-dp{
    max-height: 100%;
    max-width: 100%;
}
.profile-card-name{
    text-align: center;
    text-transform: uppercase;
    /*padding: 20px;*/
}
.profile-card-name > h3{
    margin-bottom: 0;
}
.profile-card-header{
    text-align: center;
}
.profile-card-header > h4 {
    font-weight: 200;
    margin-bottom: 5px;
}
.profile-card-place{
    text-align: center;
}
.profile-card-place > h6{
    font-size: 15px;
}
.profile-card-description{
    font-style: italic;
}
.profile-card-description > p{
    padding: 10px 0px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;

}
.profile-card-social{
    text-align: center;
    /*display: flex;*/
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}
.all-social{
    margin: 10px;
}
.all-social>a{
    margin: 0 0 0 10px;
    font-size: 24px;
    color: silver;
    border: 1px solid silver;
    /*display: flex;*/
    padding: 6px;

}
